<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">	
<hibernate-configuration>
   <session-factory>
     <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
     <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
     <property name="hibernate.connection.username">root</property>
     <property name="hibernate.connection.password">root</property>
     
     <!-- 配置数据库的方言,通过方言,让计算机知道连接的是哪种数据库 -->
     <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
     <!--在控制台上输出sql语句 -->
     <property name="hibernate.show_sql">true</property>
     <!--格式化sqlk语句 -->
     <property name="hibernate.format_sql">true</property>
     
     <!-- 
         * none:
            * 如果表存在,不会创建表,直接插入数据到表中
            * 如果表不存在,不会创建表,此时不能插入数据到表中
         *  create:
            *  如果表存在,先删除表,在创建表,插入数据到表中
            *  如果表不存在,先创建表,再插入数据到表中
            
         *  update:
            *  如果表存在,
                 * 如果由javaBean生成的表和数据库中表的结构没有变化,插入数据到表中
                 * 如果由javaBean生成的表和数据库中表的结构有变化,更新数据库中表的结构,插入数据到表中
            *  如果表不存在,先创建表,在插入数据到表中
      -->
     <property name="hibernate.hbm2ddl.auto">update</property>
     
   </session-factory>
</hibernate-configuration>

